<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
        <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button> -->

        <div class="container d-flex justify-content-center ">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-3">
                    <a class="navbar-brand" href="#">HOME DECOR</a>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#main"><i class="fas fa-plus-circle pe-2"></i>Home</a
        >
        <li class="nav-item">
          <a class="nav-link mx-2" href="#page-2"><i class="fas fa-plus-circle pe-2"></i>Design Gallery</a
>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#!"><i class="fas fa-plus-circle pe-2"></i> Modular Kitchen</a
        >
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link mx-2" href="#!"><i class="fas fa-plus-circle pe-2"></i>Bedroom</a
                      >
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link mx-2" href="#!"><i class="fas fa-plus-circle pe-2"></i>Living Room</a
                                    >
                                                                </li>
                      <li class="nav-item">
                          <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Bathroom</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>About</a
>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#!"><i class="fas fa-heart pe-2"></i>Contact</a
        >
      </li>
    </ul>

  </div>
</div>

</div>
<!-- <div class="menu">
<i class="ri-menu-line"></i>
</div> -->
</nav>
<!-- Navbar -->
    <div id="main">

        <div id="page-1">

            <div class="text-elm">
                <h1>Dream homes begin with <br> dream designs.</h1>
                <!-- <div class="btnn">
        <button>Explore</button>
      </div> -->
            </div>

        </div>
        <div id="page-2">
            <div class="Design-txt">
                <h1>Design Gallery</h1>
                <h3>If you’re on the lookout for simple home interior designs, look no further than HomeLane for end-to-end interior design services.</h3>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1539922980492-38f6673af8dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Modular Kitchen</h3>
                        <p>Transform your kitchen to the heart of your home with the help of HomeLane </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1512918580421-b2feee3b85a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Badroom</h3>
                        <p>Elegant master bedroom with vaulted ceiling and sitting area</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1609766857120-0183863c7971?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Living Room</h3>
                        <p>Side view of a recently styled family room complete with stone fireplace and wood mantel.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1620626011761-996317b8d101?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Bath Room</h3>
                        <p>Stunning Primary bathroom as part of a new construction</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1632210826643-9ff7e84be2f9?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Dining Room </h3>
                        <p>wrapping the exterior materials inside</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="div-card-c">
                        <h3>Wardrobe</h3>
                        <p>Smaller spaces can still be efficient. A good design makes the closet feel bigger than it is</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div id="page-3"></div> -->
        <!-- <div id="page-4"></div> -->
        <footer class="bg-body-tertiary text-center">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a
                data-mdb-ripple-init
                  class="btn text-white btn-floating m-1"
                  style="background-color: #3b5998;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                                <!-- Twitter -->
                                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i
                ></a>

                                <!-- Google -->
                                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i
                ></a>

                                <!-- Instagram -->
                                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i
                ></a>

                                <!-- Linkedin -->
                                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                ></a>
                                <!-- Github -->
                                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i
                ></a>
                                </section>
                                <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                        © 2020 Copyright:
                        <a class="text-body" href="#">Krish jatav</a>
                    </div>
                    <!-- Copyright -->
                    </footer>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js " integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js " integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                <script src="/javascripts/script.js"></script>
</body>

</html>