<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="nav-b">
        <h2>Raj shila</h2>
        <h4>construction</h4>
        <div class="nav-prt1"></div>
        <div class="nav-prt2">
            <a href="/index">
                <h1>Home</h1>
            </a>

            <a href="/design">
                <h1>Design Gallery</h1>
            </a>
            <a href="/kitchen">
                <h1>Modular Kitchen</h1>
            </a>
            <a href="/badroom">
                <h1>Bedroom</h1>
            </a>
            <a href="/livingroom">
                <h1>Living Room</h1>
            </a>
            <a href="/bathroom">
                <h1>Bathroom</h1>
            </a>
            <a href="/">
                <h1>Contact</h1>
            </a>
        </div>
        <div class="navpage">
            <div id="nav-prt2">
                <a href="/index">
                    <h1>Home</h1>
                </a>

                <a href="/design">
                    <h1>Design Gallery</h1>
                </a>
                <a href="/kitchen">
                    <h1>Modular Kitchen</h1>
                </a>
                <a href="/dadroom">
                    <h1>Bedroom</h1>
                </a>
                <a href="/livingroom">
                    <h1>Living Room</h1>
                </a>
                <a href="/bathroom">
                    <h1>Bathroom</h1>
                </a>
                <a href="/">
                    <h1>Contact</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="menu"><i class="ri-menu-line"></i></div>
    <div id="main">
        <div id="page-1">
            <div class="text-elm">
                <h1>
                    Dream homes begin with <br /> dream designs.
                </h1>
                <!-- <img src="/images/whatsapp .jpg" alt="" /> -->
                <!-- <div class="btnn">
        <button>Explore</button>
      </div> -->
            </div>
        </div>
        <div id="page-2">
            <div class="Design-txt">
                <h1>Design Gallery</h1>
                <h3>
                    If you’re on the lookout for simple home interior designs, look no further than HomeLane for end-to-end interior design services.
                </h3>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1539922980492-38f6673af8dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/kitchen">
                            <h3>Modular Kitchen</h3>
                        </a>
                        <p>
                            Transform your kitchen to the heart of your home with the help of HomeLane
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1512918580421-b2feee3b85a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/badroom">
                            <h3>Badroom</h3>
                        </a>

                        <p>
                            Elegant master bedroom with vaulted ceiling and sitting area
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1609766857120-0183863c7971?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/livingroom">
                            <h3>Living Room</h3>
                        </a>

                        <p>
                            Side view of a recently styled family room complete with stone fireplace and wood mantel.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1620626011761-996317b8d101?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/bathroom">
                            <h3>Bath Room</h3>
                        </a>

                        <p>Stunning Primary bathroom as part of a new construction</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1632210826643-9ff7e84be2f9?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/diningroom">
                            <h3>Dining Room</h3>
                        </a>

                        <p>wrapping the exterior materials inside</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    <div class="div-card-c">
                        <a href="/Wardrobe">
                            <h3>Wardrobe</h3>
                        </a>

                        <p>
                            Smaller spaces can still be efficient. A good design makes the closet feel bigger than it is
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-3"></div>
        <div id="page-4"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js " integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js " integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>