<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/kitchen.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="nav-b">
        <h2>Raj shila</h2>
        <h4>construction</h4>
        <div class="nav-prt1"></div>
        <div class="nav-prt2">
            <a href="/index">
                <h1>Home</h1>
            </a>

            <a href="/design">
                <h1>Design Gallery</h1>
            </a>
            <a href="/kitchen">
                <h1>Modular Kitchen</h1>
            </a>
            <a href="/badroom">
                <h1>Bedroom</h1>
            </a>
            <a href="/livingroom">
                <h1>Living Room</h1>
            </a>
            <a href="/bathroom">
                <h1>Bathroom</h1>
            </a>
            <a href="/">
                <h1>Contact</h1>
            </a>
        </div>
        <div class="navpage">
            <div id="nav-prt2">
                <a href="/index">
                    <h1>Home</h1>
                </a>

                <a href="/design">
                    <h1>Design Gallery</h1>
                </a>
                <a href="/kitchen">
                    <h1>Modular Kitchen</h1>
                </a>
                <a href="/dadroom">
                    <h1>Bedroom</h1>
                </a>
                <a href="/livingroom">
                    <h1>Living Room</h1>
                </a>
                <a href="/bathroom">
                    <h1>Bathroom</h1>
                </a>
                <a href="/">
                    <h1>Contact</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="menu"><i class="ri-menu-line"></i></div>
    <div id="main">
        <div id="kitchen">
            <h1>Modular Kitchens Designers In Delhi & Gurgaon</h1>
            <div class="card-container">
                <div class="card">
                    <img src="https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
                </div>
                <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1682377521566-f70ac8abe597?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1670359036026-44a45a942805?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1600684388091-627109f3cd60?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1586208958839-06c17cacdf08?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1591189863345-9db058f9f8ec?q=80&w=1796&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1560184387-2404714bc570?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1699135208565-145ec2e644cf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1676320514025-4caf7748f983?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1676320514043-d6642c9bbd73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js " integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js " integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>